<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-11">
      <div class="row content-box single-height">
        <div class="category-header__bar">
          <h2 class="category-header__text">News</h2>
        </div>
        <ul class="category-body__text">
          <li>
            09/25/2016 - Website is up! <br />
            Visit here for status updates on all the stuff I've got running.
          </li>
        </ul>
      </div>
      <div class="row content-box single-height">
        <div class="category-header__bar">
          <h2 class="category-header__text">Status</h2>
        </div>
      </div>
    </div>
  </div>
</div>
